body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: rgba(23, 37, 18, 0.8);
  color: #e8e3e3;
  font-size: 16px;
}

nav {
  background-color: #4a90e2;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  margin: 0;
  background-color: rgba(34, 49, 49, 1);
}

h1 {
  font-size: clamp(5rem, 7vw, 11.6rem);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #4a90e2;
  color: white;
}
